/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root{
  --mainBlue: #063FA3;
  --lightBlue: #35BDDD;
  --mainWhite: #FFFFFF;
  --mainDark: #0D0A0B;
  --mainYellow: #FFCE21;

}

body{
  font-family: 'Inter', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;;
}

.text-title{
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card-title{
  font-size: 5rem !important;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.sponsor-card {
  text-align: center;
}

.budget-section {
  color: blue;
  font-weight: 600;
}
